################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ScanLogsForBeijingYZ/obj
/.vs
/Cpp/Polymorphism/x64/Debug
/Generate5CRecFiles/obj
/ScanFiles/obj
/ScanLogsDelete/obj
/ScanLogsForLiveMsg/obj
/ScanLogsForShanghai18/obj
/TestCsharp/obj
/TestXml/obj
/Cpp/RAII/x64/Debug
/Cpp/RAII/x64/Release
/Cpp/Reference/x64/Release
/Cpp/Template/x64/Release
/Cpp/TestMuiltThreads/Debug
/Linker/DLL/x64/Debug
/Linker/DLL/x64/Release
/Linker/Dll1/x64/Debug
/Linker/Dll1/x64/Release
/Linker/Dll2/x64/Debug
/Linker/Dll2/x64/Release
/ProAsst/Generate5CRecFiles/obj
/ProAsst/ScanLogsForLiveMsg/obj
/ProAsst/ScanLogsForLiveMsg/bin
/ProAsst/Generate5CRecFiles/bin
/ProAsst/ScanFiles/obj
/ProAsst/ScanFiles/bin
/ProAsst/ScanLogsDelete/obj
/ProAsst/ScanLogsDelete/bin
/ProAsst/ScanLogsForBeijingYZ/obj
/ProAsst/ScanLogsForBeijingYZ/bin
/ProAsst/ScanLogsForLiveMsg/obj
/ProAsst/ScanLogsForLiveMsg/bin
/ProAsst/ScanLogsForShanghai18/obj
/ProAsst/ScanLogsForShanghai18/bin
/ProAsst/ScanLogsWithTemprature/obj
/ProAsst/ScanLogsWithTemprature/bin
